CSS reset *,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

/* Custom variables */
:root {
  --btn-bkg-clr: blue;
  --btn-clr: white;
  --border: none;
  --border-radius: 3px;
  --task-bkg-color: rgb(183, 215, 243);
}

/* ------------------------------------------ */

/* Container */
#container {
  background-color: rgb(36, 113, 213);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new-task-form {
  background-color: white;
  width: 40rem;
  margin-bottom: 3rem;
  border-radius: 5px;
}

#new-task-title {
  background-color: white;
  border-radius: var(--border-radius);
}

.task {
  width: 30rem;
  background-color: var(--task-bkg-color);
  border-radius: 5px;
  list-style: none;
}

#new-task-title {
  padding: 10px;
  margin: 10px;
}

button {
  background-color: var(--btn-bkg-clr);
  color: var(--btn-clr);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 3px;
}

.remove-btn span {
  display: block;
  transform: rotate(45deg) scale(1.5);
}

#deleteAllTasksButton {
  background-color: red;
  margin-top: 3rem;
  padding: 6px;
}

.task-title {
  flex-grow: 1;
}

label {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

li {
  padding: 0.5rem 1rem;
  display: flex;
}

.task-containter {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

li.task {
  margin-top: 10px;
  margin-bottom: 10px;
}
